@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main menu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/VideoList.css" />
</head>
<body>
    <div>
        <h1>Danh sách khoá học</h1>
        <section>
            <div>
                <img src="https://cdn2.fptshop.com.vn/unsafe/Uploads/images/tin-tuc/175870/Originals/C-la-gi.jpeg"></img>
                <div class="in4Khoa">
                    <h4><a href="/thong-tin-khoa-hoc?MaKhoaHoc=KH1">Lập trình C#</a></h4>
                    <p>Học những phần cơ bản của lập trình C#</p>
                </div>
            </div>
            <div>
                <img src="https://mastering-da.com/wp-content/uploads/2023/11/sql-la-gi.jpg"></img>
                <div class="in4Khoa">
                    <h4><a href="/thong-tin-khoa-hoc?MaKhoaHoc=KH2">Lý thuyết cơ sở dữ liệu</a></h4>
                    <p>Học lý thuyết về cơ sở dữ liệu</p>
                </div>
            </div>
            <div>
                <img src="https://5.imimg.com/data5/SELLER/Default/2023/10/350044474/GS/MO/NG/198979354/microsoft-sql-server.png"></img>
                <div class="in4Khoa">
                    <h4><a href="/thong-tin-khoa-hoc?MaKhoaHoc=KH3">Hệ quản trị cơ sở dữ liệu</a></h4>
                    <p>Học về ngôn ngữ SQL, các câu lệnh, hệ quản trị cơ sở dữ liệu</p>
                </div>
            </div>
            <div>
                <img src="https://monamedia.co/wp-content/uploads/2020/05/html5-css3-va-html-css.jpg"></img>
                <div class="in4Khoa">
                    <h4><a href="/thong-tin-khoa-hoc?MaKhoaHoc=KH4">Thiết kế giao diện trang web</a></h4>
                    <p>Học về HTML và CSS cơ bản</p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>